<div class="container text-center col-3 card mt-4">
  <form class="p-2">
    <h1 class="h4">Login do Cliente</h1>
    <div class="form-group">
      <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" id="email" placeholder="Informe o seu Email" class="form-control">
    </div>

    <div class="form-group">
      <label for="senha" class="sr-only">Senha</label>
      <input type="senha" name="senha" id="senha" placeholder="Informe a sua Senha" class="form-control">
    </div>  
    
    <button class="btn btn-primary btn-block" (click)="entrar()">Entrar</button>
  </form>
</div>